
/*---
Link
@group			UIComponents/Links
@desc			...
@modifier		link--bordered	: Bordered
@todo			Document
@author			Michael Ord
@tags			interactive,anchor
---
<a href="#" class="link {modifier}">
	<span class="media">
		<span class="media__figure">
			<i aria-hidden="true" class="icon icon--star-full"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
		</span>
		<span class="media__body">
			Standard European Consumer Credit information
		</span>
	</span>
</a>
*/
.link
{
	$parent						: &;

	display						: block;
	margin						: 0 0 1rem 0;
	position					: relative;

	padding-right				: 35px;
	color						: inherit;

	&:hover,
	&:focus
	{
		text-decoration			: none;
	}

	&:after
	{
		content					: "";
		width					: 16px;
		height					: 16px;
		background-image		: url("/src/icons/arrow-right.svg");
		background-size			: 16px 16px;
		display					: block;
		position				: absolute;
		right					: .5rem;
		top						: 0;
	}

	&--bordered
	{
		padding-left			: .5rem;
		padding-top				: .5rem;
		padding-bottom			: .5rem;

		background-color		: #fff;
		box-shadow				: 0px 2px 4px 0 rgba(204, 204, 204, 0.5);

		&:after
		{
			top					: .5rem;
		}
	}
}
